/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- General Styles
- Navigation
- Header
- Customers
- Introduction
- Features
- Details 1
- Details Lightbox
- Details 2
- Details 3
- Testimonials
- Newsletter
- Footer
- Copyright
- Back To Top Button
- Extra pages
- Media Queries
******************************************/

/*****************************************
Colors:
- Buttons - orange #ff6c02
- Headings text - navy blue #1e266d
- Body text - dark gray #515867
- Backgrounds - light gray #f9f9f9
******************************************/


/**************************/
/*     General Styles     */
/**************************/
body,
html {
    width: 100%;
	height: 100%;
}

.swiper-wrapper{
	display:flex;
	padding-left: 15px;
}
body, p {
	color: #515867; 
	font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

.skills .skills-content .column{
    width: calc(100% - 10px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
	padding-top:10px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background:black;
}
.skills-content .right .html::before{
    width: 80%;
}
.skills-content .right .css::before{
    width: 90%;
}
.skills-content .right .js::before{
    width: 60%;
}
.skills-content .right .php::before{
    width: 50%;
}
.skills-content .right .mysql::before{
    width: 70%;
}

h1 {
	color: #09090a;
	font-weight: 500;
	font-size: 14px;
	line-height: 2;
	letter-spacing: -0.2px;
}

h2 {
	color: white;
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.625rem;
	letter-spacing: -0.4px;
}

h3 {
	color: black;
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.375rem;
	letter-spacing: -0.4px;
}

h4 {
	color: #1e266d;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2.125rem;
	letter-spacing: -0.4px;
}

h5 {
	padding-top: 25px;
	padding-bottom: 5px;
	text-align:center;
	color: black;
	
	font-size: 20px;
}

h6 {
	color: #1e266d;
	font-weight: 200;
	font-size: 0.5rem;
	line-height: 0.5rem;
}
h7{
	
	font-size: 17px;
	/* font-weight: 200;
	font-size: 0.5rem;
	line-height: 0.5rem; */
}
.headinga{
	text-align:center;
	padding-top: 30px;
}


.h1-large {
	font-size: 1.5rem;
	line-height: 2.5rem;
	letter-spacing: -0.7px;
}

.p-large {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.testimonial-text {
	font-size: 15px;
}

.testimonial-author {
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.5rem;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

a {
	color: #515867;
	text-decoration: underline;
}

a:hover {
	color: #515867;
	text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

.read-more {
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.read-more .fas {
	margin-left: 0.625rem;
	font-size: 1rem;
	vertical-align: -8%;
}

.blue {
	color: #1d79fb;
}

.bg-gray {
	background-color: #f9f9f9;
}

.section-divider {
	display: inline-block;
	width: 100%;
	height: 1px;
	border: none;
	background-color: #d0dae2;
}

.section-title {
	display: inline-block;
	margin-bottom: 0.75rem;
	padding: 0.375rem 1.25rem;
	border-radius: 20px;
	background-color: #fff0e2;
	color: #ff6c02;
	font-weight: 600;
	font-size: 0.75rem;
	line-height: 1.125rem;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #ff6c02;
	border-radius: 32px;
	background-color: #ff6c02;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	border: 1px solid #ff6c02;
	background-color: transparent;
	color: #ff6c02; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #070707;
	border-radius: 5px;
	background-color: #0a0a0a;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	border: 1px solid #ff6c02;
	background-color: transparent;
	color: #ff6c02; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #ff6c02;
	border-radius: 32px;
	background-color: #ff6c02;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-sm:hover {
	border: 1px solid #ff6c02;
	background-color: transparent;
	color: #ff6c02;
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #ff6c02;
	border-radius: 32px;
	background-color: transparent;
	color: #ff6c02;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	background-color: #ff6c02;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #ff6c02;
	border-radius: 32px;
	background-color: transparent;
	color: #ff6c02;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	background-color: #ff6c02;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #ff6c02;
	border-radius: 32px;
	background-color: transparent;
	color: #ff6c02;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	background-color: #ff6c02;
	color: #ffffff;
	text-decoration: none;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.label-control {
	position: absolute;
	top: 0.875rem;
	left: 1.625rem;
	color: #7d838a;
	opacity: 1;
	font-size: 0.875rem;
	line-height: 1.375rem;
	cursor: text;
	transition: all 0.2s ease;
}

.form-control-input:focus + .label-control,
.form-control-input.notEmpty + .label-control,
.form-control-textarea:focus + .label-control,
.form-control-textarea.notEmpty + .label-control {
	top: 0.125rem;
	color: #515867;
	opacity: 1;
	font-size: 0.75rem;
	font-weight: 700;
}

.form-control-input,
.form-control-select {
	display: block; /* needed for proper display of the label in Firefox, IE, Edge */
	width: 100%;
	padding-top: 1.125rem;
	padding-bottom: 0.125rem;
	padding-left: 1.625rem;
	border: 1px solid #cbcbd1;
	border-radius: 32px;
	background-color: #ffffff;
	color: #515867;
	font-size: 0.875rem;
	line-height: 1.875rem;
	transition: all 0.2s;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	height: 3.25rem;
	color: #7d838a;
}

select {
    /* you should keep these first rules in place to maintain cross-browser behavior */
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('../images/down-arrow.png');
    background-position: 96% 50%;
    background-repeat: no-repeat;
    outline: none;
}

.form-control-textarea {
	display: block; /* used to eliminate a bottom gap difference between Chrome and IE/FF */
	width: 100%;
	height: 14rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
	padding-top: 1.5rem;
	padding-left: 1.5rem;
	border: 1px solid #cbcbd1;
	border-radius: 2px;
	background-color: #ffffff;
	color: #515867;
	font-size: 0.875rem;
	line-height: 1.5rem;
	transition: all 0.2s;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
	border: 1px solid #a1a1a1;
	outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
	border: 1px solid #a1a1a1;
}

.checkbox {
	font-size: 0.75rem;
	line-height: 1.25rem;
}

input[type='checkbox'] {
	vertical-align: -10%;
	margin-right: 0.5rem;
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.25rem;
	border: 1px solid #ff6c02;
	border-radius: 32px;
	background-color: #ff6c02;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	border: 1px solid #ff6c02;
	background-color: transparent;
	color: #ff6c02;
}

/* Fade-move Animation For Details Lightbox - Magnific Popup */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-out;
	-webkit-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	-ms-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	-ms-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	transform: translateY(0) perspective(37.5rem) rotateX(0); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	-webkit-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	-ms-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
}

/* dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
/* end of fade-move animation for details lightbox - magnific popup */


/**********************/
/*     Navigation     */
/**********************/
.navbar {
	border-bottom: 1px solid #e3e8ec;
	background-color:white;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	/* padding-bottom: 500px; */
}
.new{
	color:black;
}
.navbar .navbar-brand {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	text-decoration: none;
	font-size: 30px;
}

.navbar .logo-image img {
    width: 110px;
	height: 32px;
}

.navbar .logo-text {
	color: #080808;
	font-weight: 700;
	font-size: 2rem;
	line-height: 1rem;
	text-decoration: none;
}

.offcanvas-collapse {
	position: fixed;
	top: 3.25rem; /* adjusts the height between the top of the page and the offcanvas menu */
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	visibility: hidden;
	background-color: #ffffff;
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
	/* padding-left: 50px; */
}
.nav-item{
	
	font-size: medium;
	/* font-size: large; */
}

.navbar .nav-item .nav-link {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #020202;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
	color: #0e0c0c;
}

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
	}
}

.navbar .dropdown-menu {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border: none;
	background-color: #ffffff;
}

.navbar .dropdown-item {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: #1e266d;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	text-decoration: none;
}

.navbar .dropdown-item:hover {
	background-color: #ffffff;
	color: #ff6c02;
}

.navbar .dropdown-divider {
	width: 100%;
	height: 1px;
	margin: 0.5rem auto 0.5rem auto;
	border: none;
	background-color: #e7e7e7;
}
/* end of dropdown menu */

.navbar .nav-item .btn-solid-sm {
	margin-top: 0.125rem;
	border: 1px solid #1e266d;
	background-color: #1e266d;
}

.navbar .nav-item .btn-solid-sm:hover {
	background-color: transparent;
	color: #1e266d;
}

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}


/*****************/
/*    Header     */
/*****************/
.header {
	padding-top: 7rem;
	padding-bottom: 2.5rem;
	/* background: url('../images/header-background.png') center center no-repeat; */
	background-size: cover;
	text-align: center;
}

.header .text-container {
	margin-bottom: 4rem;
	/* padding-right: 20px; */
}

.header .h1-large {
	margin-bottom: 1.5rem;
	font: small;
}

.header .p-large {
	margin-bottom: 2rem;
}

.header .btn-solid-lg {
	margin-right: 0.5rem;
	margin-bottom: 0.75rem;
}


/********************/
/*    Customers     */
/********************/
.slider-1 {
	padding-top: 3.5rem;
	padding-bottom: 3rem;
	text-align: center;
}

.slider-1 h4 {
	margin-bottom: 0.25rem;
	color: #222222;
}

.slider-1 .section-divider {
	margin-bottom: 1rem;
}

.slider-1 .slider-container {
	margin-bottom: 0.5rem;
	padding: 1rem 0;
}
.me{
	font-size: 20px;
	
}
.pt{
	font-size: 15px;
}

/************************/
/*     Introduction     */
/************************/
.basic-1 {
	padding-top: 1.25rem;
	padding-bottom: 1rem;
}

.basic-1 img {
	margin-bottom: 3.5rem;
}

.basic-1 h2 {
	margin-bottom: 1.5rem;
}

.basic-1 p {
	margin-bottom: 1.875rem;
}
/* .basic-1 .text-container{
	padding-right: 20px;
	padding-left: 20px;
} */
.slideshow-container .fa{
	text-align: center;
	color: black;
	size: 30px;
}
.zov{
	text-align: center;
	color: black;
	font-size: 80px;
}

/********************/
/*     Features     */
/********************/
.manu{
	text-align: center;
	
}
.manu1{
	text-align: left;
}
.cards-1 {
	padding-top: 9.5rem;
	padding-bottom: 6.625rem;
	background-color: black;
}
.cards-5{
	/* padding-top: 1.5rem; */
	padding-bottom: 6.625rem;
	background-color: white;

}

.cards-1 .h2-heading {
	margin-bottom: 1rem;
	color: #ffffff;
	text-align: center;
}
.pn{
	text-align: center;
	font-size: medium;
	color: white;
}

.cards-1 .p-heading {
	margin-bottom: 5rem;
	color: #ffffff;
	opacity: 0.8;
	text-align: center;
}

.cards-1 .card {
	margin-bottom: 3rem;
	background-color: transparent;
}

.cards-1 .card-icon-wrapper {
	padding-left: 2rem;
	border-left: 1px solid #ff6c02;
}

.cards-1 .card-icon {
	width: 74px;
	height: 74px;
	border-radius: 50%;
	background-color: #3232a0;
	text-align: center;
}

.cards-1 .card-icon .fas,
.cards-1 .card-icon .far {
	color: #ff6c02;
	font-size: 2rem;
	line-height: 4.625rem;
}

.cards-1 .card-body {
	padding: 0 0 0 2rem;
}

.cards-1 .card-title {
	margin-top: 1.75rem;
	color: #ffffff;
	font-weight: 600;
}

.cards-1 .card-body p {
	margin-bottom: 1.25rem;
	color: #ffffff;
	opacity: 0.8;
}

.cards-1 .read-more {
	color: #ffffff;
}

.cards-1 .read-more .fas {
	color: #ffffff;
}


/*********************/
/*     Details 1     */
/*********************/
.basic-2 {
	padding-top: 9.25rem;
	padding-bottom: 5rem;
	background: url('../images/details-1-background.png') center center no-repeat;
	background-size: cover;
}

.basic-2 h2 {
	margin-bottom: 1.5rem;
}

.basic-2 .intro {
	margin-bottom: 9.5rem;
}

.basic-2 .image-container {
	margin-bottom: 3.75rem;
}
.text-container1{
	
	padding-top: 10px;
	padding-left: 50px;
}
.text-container2{
	
	padding-left: 50px;
	padding-top: 40px;
}
.container1{
	padding-top:40px;
	padding-right:30px;
}
.container2{
	padding-top:40px;
	padding-left: 30px;
}


.basic-2 .text-container p {
	margin-bottom: 1.75rem;
}


/****************************/
/*     Details Lightbox     */
/****************************/
.lightbox-basic {
	position: relative;
	max-width: 1150px;
	margin: 2.5rem auto;
	padding: 3rem 1rem;
	background-color: #ffffff;
	text-align: left;
}

.lightbox-basic .image-container {
	margin-bottom: 3rem;
	text-align: center;
}

.lightbox-basic .image-container img {
	border-radius: 8px;
}

.lightbox-basic h3 {
	margin-bottom: 0.5rem;
}

.lightbox-basic hr {
	width: 44px;
	margin-top: 0.125rem;
	margin-bottom: 1rem;
	margin-left: 0;
	height: 2px;
	border: none;
	background-color: #ff6c02;
}

.lightbox-basic h4 {
	margin-top: 1.75rem;
	margin-bottom: 0.625rem;
}

.lightbox-basic .list-unstyled {
	margin-bottom: 1.5rem;
}

.lightbox-basic .list-unstyled .fas {
	font-size: 0.75rem;
	line-height: 1.75rem;
}

.lightbox-basic .list-unstyled .media-body {
	margin-left: 0.375rem;
}

.lightbox-basic .list-unstyled {
	margin-bottom: 1.5rem;
}

/* Action Button */
.lightbox-basic .btn-solid-reg.mfp-close {
	position: relative;
	width: auto;
	height: auto;
	border-color: #ff6c02;
	background-color: #ff6c02;
	color: #ffffff;
	opacity: 1;
	font-weight: 600;
	font-family: "Open Sans";
}

.lightbox-basic .btn-solid-reg.mfp-close:hover {
	background-color: transparent;
	color: #ff6c02;
}
/* end of action Button */

/* Back Button */
.lightbox-basic .btn-outline-reg.mfp-close.as-button {
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	margin-left: 0.375rem;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #ff6c02;
	background-color: transparent;
	color: #ff6c02;
	opacity: 1;
	font-family: "Open Sans";
}

.lightbox-basic .btn-outline-reg.mfp-close.as-button:hover {
	background-color: #ff6c02;
	color: #ffffff;
}
/* end of back button */

/* Close X Button */
.lightbox-basic button.mfp-close.x-button {
	position: absolute;
	top: -2px;
	right: -2px;
	width: 44px;
	height: 44px;
	color: #555555;
}
/* end of close x button */


/*********************/
/*     Details 2     */
/*********************/
.basic-3 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.basic-3 .text-container {
	margin-bottom: 3.75rem;
}

.basic-3 h2 {
	margin-bottom: 1.5rem;
}

.basic-3 .list-unstyled .fas {
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.basic-3 .list-unstyled .media-body {
	margin-left: 0.5rem;
}


/*********************/
/*     Details 3     */
/*********************/
.basic-4 {
	padding-top: 5rem;
	padding-bottom: 9.5rem;
	background: url('../images/details-3-background.png') center center no-repeat;
	background-size: cover;
}

.basic-4 h2 {
	margin-bottom: 1.5rem;
}

.basic-4 .image-container {
	margin-bottom: 3.5rem;
}

.basic-4 p {
	margin-bottom: 1.75rem;
}


/************************/
/*     Testimonials     */
/************************/
.slider-2 {
	padding-top: 9.25rem;
	padding-bottom: 10rem;
	background-color:white;
}

.slider-2 .h2-heading {
	margin-bottom: 1rem;
	color: black;
	text-align: center;
}

.slider-2 .p-heading {
	margin-bottom: 4rem;
	color: #252424;
	opacity: 0.8;
	text-align: center;
}

.slider-2 .slider-container {
	position: relative;
}

.slider-2 .swiper-container {
	position: static;
	width: 86%;
}
.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    right:10px;
    padding: 30px;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
}
.slider-2 .swiper-button-prev:focus,
.slider-2 .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	
	outline: none;
}

.slider-2 .swiper-button-prev {
	left: -14px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}

.slider-2 .swiper-button-next {
	right: -14px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}
.imag{
	padding-top:23px;
	color: white;
	font-size:25px;
}
.nau{
	
    text-decoration: none;
	color:white;
}
.nav-item4{
	text-decoration: none;
}
.sub-heading{
	text-align:center;
}
.slider-2 .card {
	border: none;
	border-radius: 14px;
}
.nav-link1{
	text-decoration: none;
	padding-top: 10px;
	/* padding-left: 50px; */
}

.slider-2 .card-body {
	padding: 2.5rem 1.75rem;
}

.slider-2 .testimonial-text {
	margin-bottom: 1.875rem;
	text-align: center;
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.slider-2 .testimonial-image {
	display: inline-block;
	width: 70px;
	margin-bottom: 0.875rem;
	border-radius: 50%;
}

.slider-2 .testimonial-author {
	margin-bottom: 0.125rem;
	color: #222222;
	font-weight: 700;
	font-size: 1.125rem;
}


/**********************/
/*     Newsletter     */
/**********************/
.form-1 {
	padding-top: 9.5rem;
	padding-bottom: 8.5rem;
	text-align: center;
}

.form-1 .h2-heading {
	margin-bottom: 0.75rem;
}

.form-1 .p-heading {
	margin-bottom: 3rem;
}

.form-1 .label-control {
	left: 2.125rem;
}

.form-1 .form-control-input {
	padding-top: 1.25rem;
	padding-bottom: 0.25rem;
	padding-left: 2rem;
	border-radius: 32px;
	background-color: #ffffff;
}

.form-1 .form-control-submit-button {
	height: 3.5rem;
}

.form-1 .label-control {
	top: 1rem;
}


/******************/
/*     Footer     */
/******************/


/******************************/
/*     Back To Top Button     */
/******************************/
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 12px;
	bottom: 12px;
	display: none;
	width: 42px;
	height: 42px;
	border-radius: 30px;
	background: #515867 url("../images/up-arrow.png") no-repeat center 47%;
	background-size: 18px 18px;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #1e266d;
}


/***********************/
/*     Extra Pages     */
/***********************/
.ex-header {
	padding-top: 8.5rem;
	padding-bottom: 4rem;
	background-color: #f9f9f9;
}

.ex-basic-1 .list-unstyled .fas {
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.ex-basic-1 .list-unstyled .media-body {
	margin-left: 0.5rem;
}

.ex-basic-1 .text-box {
	padding: 1.25rem 1.25rem 0.5rem 1.25rem;
	background-color: #f9f9f9;
}

.ex-cards-1 .card {
	border: none;
	background-color: transparent;
}

.ex-cards-1 .card .fa-stack {
	width: 2em;
	font-size: 1.125rem;
}

.ex-cards-1 .card .fa-stack-2x {
	color: #ff6c02;
}

.ex-cards-1 .card .fa-stack-1x {
	color: #ffffff;
	font-weight: 700;
	line-height: 2.125rem;
}

.ex-cards-1 .card .list-unstyled .media-body {
	margin-left: 0.75rem;
}

.ex-cards-1 .card .list-unstyled .media-body h5 {
	margin-top: 0.125rem;
	margin-bottom: 0.375rem;
}

.ex-form-1 .text-box {
	padding: 2.5rem 1.5rem 1.5rem 1.75rem;
	border-radius: 10px;
	background-color: #f9f9f9;
}


/*************************/
/*     Media Queries     */
/*************************/	
/* Min-width 768px */
@media (min-width: 768px) {

	/* Header */
	.header .btn-solid-lg {
		margin-bottom: 0;
	}
	/* end of header */


	/* Newsletter */
	.form-1 .form-group {
		max-width: 20rem;
		display: inline-block;
		vertical-align: top;
	}
	
	.form-1 .form-control-input {
		width: 20rem;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.form-1 .form-control-submit-button {
		width: 9rem;
		margin-left: -0.375rem;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	/* end of newsletter */


	/* Extra Pages */
	.ex-basic-1 .text-box {
		padding: 1.75rem 2rem 0.875rem 2rem;
	}
	/* end of extra pages */
}
/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	.h2-heading {
		width: 35.25rem;
		margin-right: auto;
		margin-left: auto;
	}

	.p-heading {
		width: 34rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of general styles */


	/* Navigation */
	.navbar {
		padding-top: 1.75rem;
		background-color: transparent;
		border-bottom: none;
		transition: all 0.2s;
	}

	.navbar.top-nav-collapse {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		border-bottom: 1px solid #e3e8ec;
		background-color: #ffffff;
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offcanvas-collapse.open {
		-webkit-transform: none;
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.navbar .nav-item .nav-link {
		padding-right: 0.75rem;
		padding-left: 0.75rem;
	}

	.navbar .dropdown-menu {
		margin-top: 0.25rem;
		box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.05);
	}

	.navbar .dropdown-divider {
		width: 90%;
	}

	.navbar .nav-item .btn-solid-sm {
		margin-top: 0;
		margin-left: 1rem;
	}
	/* end of navigation */


	/* Header */
	.header {
		padding-top: 10rem;
		padding-bottom: 7rem;
		text-align: left;
	}

	.header .text-container {
		margin-top: 3.5rem;
	}
	/* end of header */


	/* Customers */
	.slider-1 {
		padding-top: 5rem;
	}
	/* end of customers */


	/* Introduction */
	.basic-1 img {
		margin-bottom: 0;
	}

	.basic-1 .text-container {
		margin-top: 3rem;
	}
	/* end of introduction */


	/* Features */
	.cards-1 .card {
		display: inline-block;
		width: 290px;
		vertical-align: top;
	}
	
	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1.5rem;
		margin-left: 1.5rem;
	}
	/* end of features */


	/* Details 1 */
	.basic-2 .image-container {
		margin-bottom: 0;
	}

	.basic-2 .text-container {
		margin-top: 3.75rem;
	}

	.basic-2 h2 {
		margin-right: 2rem;
	}
	/* end of details 1 */


	/* Details Lightbox */
	.lightbox-basic {
		padding: 3rem 3rem;
	}

	.lightbox-basic .image-container {
		margin-bottom: 0;
		text-align: left;
	}
	/* end of details lightbox */


	/* Details 2 */
	.basic-3 .text-container {
		margin-bottom: 0;
	}
	/* end of details 2 */


	/* Details 3 */
	.basic-4 .image-container {
		margin-bottom: 0;
	}

	.basic-4 .text-container {
		margin-top: 3.5rem;
	}
	/* end of details 3 */

   
	/* Testimonials */
	.slider-2 .swiper-container {
		width: 80%;
	}

	.slider-2 .swiper-button-prev {
		left: 0;
		width: 22px;
		background-size: 22px 34px;
	}
	
	.slider-2 .swiper-button-next {
		right: 0;
		width: 22px;
		background-size: 22px 34px;
	}

	.slider-2 .details {
		display: flex;
		align-items: flex-start;
	}
	
	.slider-2 .text {
		flex-direction: column;
	}

	.slider-2 .testimonial-author {
		margin-top: 0.625rem;
	}
	
	.slider-2 .testimonial-image {
		margin-right: 1.125rem;
		margin-bottom: 0;
	}
	/* end of testimonials */


	/* Footer */
	.footer .footer-col {
		margin-bottom: 2rem;
	}

	.footer .footer-col.first {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}
	
	.footer .footer-col.second {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}
	
	.footer .footer-col.third {
		display: inline-block;
		width: 224px;
		text-align: right;
		vertical-align: top;
	}

	.footer .footer-col.third .fa-stack {
		margin-right: 0;
		margin-left: 0.375rem;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		display: inline-block;
		width: 296px;
		vertical-align: top;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}
	/* end of extra pages */
}
/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {

	/* General Styles */
	.h1-large {
		font-size: 3.25rem;
		line-height: 4rem;
	}
	/* end of general styles */


	/* Header */
	.header {
		overflow-x: hidden;
		padding-top: 10.75rem;
		padding-bottom: 13rem;
	}

	.header .text-container {
		margin-top: 6.5rem;
	}

	.header img {
		position: absolute;
		left: 5rem;
	}
	/* end of header */


	/* Introduction */
	.basic-1 .text-container {
		margin-top: 2rem;
	}
	/* end of introduction */


	/* Features */
	.cards-1 .card {
		width: 320px;
	}
	
	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 4.375rem;
		margin-left: 4.375rem;
	}
	/* end of features */


	/* Details 1 */
	.basic-2 .intro h2 {
		margin-right: 10rem;
	}

	.basic-2 .text-container {
		margin-top: 6.5rem;
	}
	/* end of details 1 */


	/* Details Lightbox */
	.lightbox-basic .image-container {
		margin-right: 1.5rem;
	}
	/* end of details lightbox */


	/* Details 2 */
	.basic-3 .image-container {
		text-align: right;
	}

	.basic-3 .text-container {
		margin-top: 4rem;
	}
	/* end of details 2 */


	/* Details 3 */
	.basic-4 .text-container {
		margin-top: 6rem;
	}
	/* end of details 3 */


	/* Testimonials */
	.slider-2 .swiper-container {
		width: 92%;
	}

	.slider-2 .card-body {
		padding: 3rem 2.625rem 3.125rem 2.625rem;
	}
	/* end of testimonials */


	/* Footer */
	.footer .footer-col.first {
		width: 352px;
		margin-right: 6rem;
	}
	
	.footer .footer-col.second {
		margin-right: 6.5rem;
	}
	
	.footer .footer-col.third {
		text-align: right;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		width: 336px;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}
	/* end of extra pages */
}
@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}
footer { background-color: #f7f7f7; padding: 100px 0; }
footer p { font-size: 13px; margin: 0; }
.footer-leftcol p { text-align: left; }
.footer-rightcol  {
	 text-align: right;
	  font-style: italic; 
	  
	  margin-top: 20px; 
	  display: flex;
	  padding-left: 150px;
	}
.bold-16p { font-size: 15px; font-weight: 600; }
.footer-midcol { margin-left: auto; margin-right: auto; }
.footer-midcol ul { text-align: center; padding: 0; }
.footer-midcol li { list-style: none; display: inline-block; margin-right: 15px; }
.footer-midcol li a { opacity: 1; }
.footer-midcol li a:hover { opacity: 0.5; }
.twitter-icon { background: url(../images/twitter-icon.png); height: 34px; width: 35px; display: block; text-indent: -9999px; }
.facebook-icon { background: url(../images/facebook-icon.png); height: 34px; width: 35px; display: block; text-indent: -9999px; }
.pintrest-icon { background: url(../images/pintrest-icon.png); height: 34px; width: 35px; display: block; text-indent: -9999px; }
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 { visibility: hidden; }
.bounceInLeft, .bounceInRight, .fadeInUp { visibility: visible; }
.footer1{
	background-color: black;
}
.h1{
	color:black;
}
.text1{
	text-align: center;
	font-size: medium;
}
.man1{
	padding-left: 50px;
	padding-top: 10px;
}
.fab {
	size: 120px;
	padding-left: 30px;
	color: white;
}
.fab {
	size: 120px;
	padding-left: 30px;
	color: white;
}
.fas {
	padding-left: 30px;
	color: white;
}
.contact-area {
	padding-top: 95px;
	padding-bottom: 100px;
	background-color: white; }
  
  .form-message.error, .form-message.success {
	font-size: 16px;
	color: #121212;
	padding: 10px 15px;
	margin-top: 15px;
	background-color: #e9ecef; }
  .form-message.error {
	color: #fc3832; }
  
  .single-contact-box {
	background-color: #fff;
	border-radius: 8px;
	padding: 24px 35px;
	height: 255px; }
	@media (max-width: 767px) {
	  .single-contact-box {
		padding: 24px 20px; } }
	.single-contact-box .box-icon {
	  position: relative;
	  display: inline-block; }
	  .single-contact-box .box-icon i {
		font-size: 88px;
		position: relative;
		z-index: 5;
		color: #38f9d7; }
	  .single-contact-box .box-icon .shape {
		position: absolute;
		top: 0;
		left: 0; }
	.single-contact-box .box-content {
	  margin-top: 24px; }
	  .single-contact-box .box-content .box-title {
		font-size: 28px;
		line-height: 35px;
		color: #121212; }
	  .single-contact-box .box-content .text {
		font-size: 14px;
		line-height: 20px;
		color: #121212;
		margin-top: 16px; }
  
  .contact-two .contact-title {
	font-size: 24px;
	font-weight: 600;
	color: #121212; }
  .contact-two .text {
	font-size: 16px;
	line-height: 24px;
	margin-top: 16px;
	color: #6c6c6c; }
  .contact-two .contact-info {
	margin-top: 40px; }
	.contact-two .contact-info li {
	  color: #6c6c6c;
	  margin-top: 8px;
	  font-size: 16px; }
	  .contact-two .contact-info li i {
		margin-right: 5px;
		color: #121212; }
  
  .contact-map .gmap_canvas iframe {
	width: 100%;
	height: 400px; }
  
  .form-group {
	margin-bottom: 0; }
  
  .form-input label {
	font-size: 12px;
	line-height: 18px;
	color: #6c6c6c;
	margin-bottom: 8px;
	display: inline-block; }
  .form-input .input-items {
	position: relative; }
	.form-input .input-items input, .form-input .input-items textarea {
	  width: 100%;
	  height: 44px;
	  border: 2px solid #a4a4a4;
	  padding-left: 44px;
	  padding-right: 12px;
	  position: relative;
	  font-size: 16px;
	  color: #6c6c6c; }
	  .form-input .input-items input:focus, .form-input .input-items textarea:focus {
		border-color: #38f9d7; }
	  .form-input .input-items input::placeholder, .form-input .input-items textarea::placeholder {
		color: #6c6c6c;
		opacity: 1; }
	  .form-input .input-items input::-moz-placeholder, .form-input .input-items textarea::-moz-placeholder {
		color: #6c6c6c;
		opacity: 1; }
	  .form-input .input-items input::-moz-placeholder, .form-input .input-items textarea::-moz-placeholder {
		color: #6c6c6c;
		opacity: 1; }
	  .form-input .input-items input::-webkit-input-placeholder, .form-input .input-items textarea::-webkit-input-placeholder {
		color: #6c6c6c;
		opacity: 1; }
	.form-input .input-items textarea {
	  padding-top: 8px;
	  height: 130px;
	  resize: none; }
	.form-input .input-items i {
	  position: absolute;
	  top: 11px;
	  left: 13px;
	  font-size: 20px;
	  z-index: 9;
	  color: #6c6c6c; }

/* end of min-width 1200px */
.nav-item .fab{
	padding-top: 10px;
	color:black;
}
.nav-item .fas{
	color:black;
}
.mine{
	padding-top: 150px;
	text-align: center;
	color:black;
	background-image: url("../images/Capture3.JPG");
	/* padding-bottom: 50px; */

}
.mine .h2-heading{
	color:white;
	padding-top:-150px;
	font-size: 40px;
	
}
.po{
	/* padding-bottom: 50px; */
	padding-bottom: 20px;
	color:white;
	font-size: 40px;
}
.slideshow-container {
	position: relative;
	background:white;
	padding-top: 40px;
	padding-bottom: -40px;
  }
  .pu{
	  text-align:center;
	  padding-top:5px;
	  color: grey;
  }
  
  /* Slides */
  .mySlides {
	display: none;
	padding: 80px;
	text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -30px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	position: absolute;
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
	color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
	text-align: center;
	padding: 20px;
	background: white;
	padding-top: -20px;
  }
  
  /* The dots/bullets/indicators */
  .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  /* .active, .dot:hover {
	
  }
   */
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: black;
font-size: large
;
padding-top: 20px;}
 
.team-area{
	padding-top: 25px;
}
.cha{
	background-color: white;
	text-align: center;
}
.team-style-eleven {
	position: relative;
	-webkit-box-shadow: black;
	-moz-box-shadow: black;

	box-shadow:black;  }
	.team-style-eleven .team-image img {
	  width: 100%; }
	.team-style-eleven .team-content {
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  width: 100%;
	  background-color:white;
	  padding-top: 25px;
	  padding-bottom: 25px;
	  z-index: 5;
	  -webkit-transition: all 0.3s ease-out 0s;
	  -moz-transition: all 0.3s ease-out 0s;
	  -ms-transition: all 0.3s ease-out 0s;
	  -o-transition: all 0.3s ease-out 0s;
	  transition: all 0.3s ease-out 0s; }
	  @media (max-width: 767px) {
		.team-style-eleven .team-content {
		  padding-top: 15px;
		  padding-bottom: 15px; } }
	  .team-style-eleven .team-content::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: black;
		background: black;
		background: black;
		z-index: -1;
		-webkit-transition: all 0.3s ease-out 0s;
		-moz-transition: all 0.3s ease-out 0s;
		-ms-transition: all 0.3s ease-out 0s;
		-o-transition: all 0.3s ease-out 0s;
		transition: all 0.3s ease-out 0s;
		opacity: 0; }
	  .team-style-eleven .team-content .team-social {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		-webkit-transition: all 0.3s ease-out 0s;
		-moz-transition: all 0.3s ease-out 0s;
		-ms-transition: all 0.3s ease-out 0s;
		-o-transition: all 0.3s ease-out 0s;
		transition: all 0.3s ease-out 0s;
		visibility: hidden;
		opacity: 0; }
		.team-style-eleven .team-content .team-social .social {
		  background-color: #fff;
		  display: inline-block;
		  padding: 10px 20px 6px;
		  border-radius: 50px; }
		  .team-style-eleven .team-content .team-social .social li {
			display: inline-block;
			margin: 0 8px; }
			.team-style-eleven .team-content .team-social .social li a {
			  font-size: 16px;
			  color: white;
			  -webkit-transition: all 0.3s ease-out 0s;
			  -moz-transition: all 0.3s ease-out 0s;
			  -ms-transition: all 0.3s ease-out 0s;
			  -o-transition: all 0.3s ease-out 0s;
			  transition: all 0.3s ease-out 0s; }
			  .team-style-eleven .team-content .team-social .social li a:hover {
				color: #0a0a0a; }
	  .team-style-eleven .team-content .team-name a {
		color: #121212;
		font-size: 24px;
		font-weight: 600;
		-webkit-transition: all 0.3s ease-out 0s;
		-moz-transition: all 0.3s ease-out 0s;
		-ms-transition: all 0.3s ease-out 0s;
		-o-transition: all 0.3s ease-out 0s;
		transition: all 0.3s ease-out 0s; }
		@media (max-width: 767px) {
		  .team-style-eleven .team-content .team-name a {
			font-size: 18px; } }
	  .team-style-eleven .team-content .sub-title {
		font-size: 16px;
		color:black;
		text-decoration: none;
		-webkit-transition: all 0.3s ease-out 0s;
		-moz-transition: all 0.3s ease-out 0s;
		-ms-transition: all 0.3s ease-out 0s;
		-o-transition: all 0.3s ease-out 0s;
		transition: all 0.3s ease-out 0s; }
		@media (max-width: 767px) {
		  .team-style-eleven .team-content .sub-title {
			font-size: 14px; } }
	.team-style-eleven:hover .team-content {
	  padding-top: 50px; }
	  @media (max-width: 767px) {
		.team-style-eleven:hover .team-content {
		  padding-top: 35px; } }
	  .team-style-eleven:hover .team-content::before {
		opacity: 1; }
	  .team-style-eleven:hover .team-content .team-social {
		top: -20px;
		visibility: visible;
		opacity: 1; }
	  .team-style-eleven:hover .team-content .team-name a {
		color: #fff; }
	  .team-style-eleven:hover .team-content .sub-title {
		color: #fff; }
		.section-title1{
			color:black;
			padding-top: 50px;
			padding-bottom: 30px;
		}
		.container3 {
			position: relative;
			overflow: hidden;
			width: 100%;
			padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
			padding-bottom: -30px;
		  }
		  
		  /* Then style the iframe to fit in the container div with full height and width */
		  .responsive-iframe {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
		  }
		  .one{
			text-decoration: none;
			color:white;
		}
		.footer {
			padding-top: 5.5rem;
			padding-bottom: 1.5rem;
			background-color: black;
		}
		
		.footer a {
			text-decoration: none;
		}
		
		.footer .footer-col {
			margin-bottom: 3rem;
		}
		
		.footer h6 {
			margin-bottom: 0.625rem;
			color: #515867;
		}
		
		.footer .li-space-lg li {
			margin-bottom: 0.375rem;
		}
		
		.footer .footer-col.third .fa-stack {
			width: 2em;
			margin-bottom: 1.25rem;
			margin-right: 0.375rem;
			font-size: 1.375rem;
		}
		
		.footer .footer-col.third .fa-stack .fa-stack-2x {
			color: #ffffff;
			transition: all 0.2s ease;
		}
		
		.footer .footer-col.third .fa-stack .fa-stack-1x {
			color: #515867;
			transition: all 0.2s ease;
		}
		
		.footer .footer-col.third .fa-stack:hover .fa-stack-2x {
			color: #515867;
		}
		
		.footer .footer-col.third .fa-stack:hover .fa-stack-1x {
			color: #ffffff;
		}
		
		
		/*********************/
		/*     Copyright     */
		/*********************/
		.copyright {
			padding-bottom: 1rem;
			background-color:black;
			text-align: center;
		}
		
		.copyright p,
		.copyright a {
			text-decoration: none;
		}
		
		